{% extends 'base.html.twig' %}

{% block body %}

<h1>Articles of the Forum</h1>

{% for article in articles %}
<div class="row border-top border-bottom border-primary">
    <div class="my-3">
        {% if article.image %}
        <img class="w-25" src="{{ asset('images/' ~ article.image) }}">
        {% endif %}
        <h3>{{ article.title }}</h3>
        <p class="text-truncate">{{ article.content }}</p>
        <a href="{{ path('detail', {'article': article.id}) }}" class="btn btn-primary">Details</a>
    </div>
</div>
{% endfor %}

{% endblock %}
